
a.banner-button {
    background: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    border: 2px solid #fff;
    padding: 10px 25px;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
a.banner-button1 {
    background:#00BCD4;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 10px 23px;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
a.banner-button2 {
    background:#3369e7;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 10px 23px;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.banner-bottom, .banner, .inner-sec-layer, .contact, .skills, .edu-exp, .projects {
    padding: 4em 5em;
}

.banner {
    background: url(../images/banner.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}

.banner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    background: #000;
}
.banner-info {
    padding: 4em 0;
}
h2.heading-banner {
    color: #fff;
    font-size: 50px;
    font-weight: 100;
}
h2.heading-banner span {
    display: block;
    font-weight: 600;
}
.banner-info p {
    color: #ccc;
    max-width: 550px;
}







html {
    scroll-behavior: smooth;
  }
.upnav {
    padding: 16px !important;
    color: black !important;
    transition: 0.3s !important;
}

.upnav:hover {
    color: tomato !important;
}

.social {
    color: black !important;
    transition: 0.3s !important;
}

.social:hover {
    color: tomato !important;
}

.social {
    padding: 16px;
}
.cert{
    margin-bottom: 20px;
}
.cert-body{
    height: 420px;
}



.ulist {
    list-style-type: none;
  }
  
  .ulist li h3 {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  }
  
  .ulist li img {
    float: left;
    margin: 0 15px 0 0;
  }
  
  .ulist li p {
    font: 200 12px/1.5 Georgia, Times New Roman, serif;
  }
  
  .ulist li {
    padding: 10px;
    overflow: auto;
  }
  
  .ulist li:hover {
    background: #eee;
    cursor: pointer;
  }


/*
.hexagon{
    width: 200px;
    height: 100px;
    overflow: hidden;
    visibility: hidden;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    position: relative;
}
.hex-left{
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.hex-right{
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.hex-inside{
    width: 100%;
    height: 100%;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    visibility: visible;
}
*/
.skill-cont{
    color:white;
    height: 200px;
    font-weight: bold;
}